{% extends 'account/homepage.html' %}
{% load crispy_forms_tags %}
{% block body %}
<br>
<div class="container">
    <div class="well well-lg">
        <form method="POST" action="{% url 'changepass' %}">
        {% csrf_token %}
            <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Change Password</legend>
        <table>
                {{form|crispy}}
            </table>
            <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
        </form>
    </div>
</div>

{% endblock %}